@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>BeFit</h1>
    <p class="lead">Witaj w BeFit! Jesteśmy serwisem przeznaczonym dla dietetyków.</p>
    <p>Jeśli masz już konto zapraszamy do zalogowania się.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Dietetyk</h2>
        <p>
            Jeśli jesteś dietetykiem i chciałbyś dołączyć do naszego zespołu to zapraszamy do kontaktu. 
            Nasz serwis przeznaczony jest dla wykwalifikowanych dietetyków. Dzieki niemu mogą oni układać
            diety dla dwoich klientów. Strona umożliwia również podgląd konta klienta i zapisanych na nim 
            danych, można przyjrzeć się dokładnie osatnim aktywnościom fizycznym jak i zjedzonym posiłkom.
            Można również bezpośrendio wysłać wiadomość do klienta z uwagami lub wskazówkami.
        </p>
    </div>
    <div class="col-md-5">
        <h2>Klient</h2>
        <p>
            Jeśli jesteś osobą, która chciałaby zmienić swoje życie i zacząć zdrowo się odżywiać to dobrze trafiłeś!
            Zapraszamy do skorzystania z naszej aplikacji mobilnej przeznaczonej dla właśnie takich osób. Dzięki niej
            możesz zacząć zdrowy tryb życia już dziś. Wystarczy tylko się zarejestrować i zamówić dietę. Wykwalifikowani
            specjaliści ułożą ją dla Ciebie i udzilą wszelkich wskazówek. Dzięki aplikacji będą na bieżąco kontrolować Twoje
            postępy i kontaktować się w razie potrzeby. 
        </p>
    </div>
</div>